<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Aplicación</title>
</head>
<body>
    {{{body}}}
    {{!-- {{{body}}} es un espacio reservado para que se inserte el contenido de cada vista (en este caso, el contenido de home.handlebars). --}}
</body>
</html>
