<h1 class="text-center">{{nombre}}</h1>
<div class="card" style="width: 18rem; margin: auto;">
    <div class="card-body">
        <h5 class="card-title">Precio: ${{precio}}</h5>
        <p class="card-text">{{descripcion}}</p>
        <a href="/" class="btn btn-primary">inicio</a>
    </div>
</div>
